#include<iostream.h>
#include<conio.h>
#include<stdio.h>
#include<windows.h>
#include<stdlib.h>
//#include<windows.h>
#include<fstream>
#include<string.h>
#include<time.h>

struct date
{
    short int day;
    short int month;
    int year;
};

struct time
{
    short int hr;
    short int min;
};

class Account
{
    private :
        char password[30];
    protected :
        char username[20], email[40];
    public :
        
}

class Train
{
    protected :
        long int tno;
        char tname[20], depcity[20], arrcity[20], 
        date depdate, arrdate;
        time deptime, arrtime, tottime;
        float dist, price;
    public :
        void get_details()             //########################
        {
             
        }
        void print_details()           //########################
        {
                
        }
};
class Passenger : public Train, public Account
{
    private :
        char pname[20],
        int age, tickno = ( rand()%8999 + 1000 );
    public :
         void getdata()                                               //#######################
         {
              
         }
         void putdata()                                                //##################
         {
            
         }
         void search_ticket()
         {
            int x, flag = 0;
            Passenger pss;
            cout<<"Enter Ticket number : ";
            cin>>x;
            ifstream file("passenger.dat, ios::in");
            while( !file.eof )
            {
                file.read((char *) &pss, sizeof(pss));
                if(x==pss.tickno)
                {
                    pss.putdata();
                    flag = 1;
                    break;
                }
            }
            if(flag == 0)
                cout<<"No such passenger found";
            file.close();
         }
         void search_train(long int tno)
         {
            Train obj;
            int flag = 0;
            iftstream file("train.dat", ios::in);
            while(!file.eof())
            {
                file.read((char*)&obj,sizeof(obj));
                if tno==obj.tno
                    flag = 1;
                    break;
            }    
            if( flag==1 ) 
            {      
                cout<<"Search Successful ";
                obj.print_details();
            }
            else
                cout<<"No Such Train Found ";   
         }
         
         
};

int main()
{
    system("color 74");
    srand(time(0));
    
