#include<iostream.h>
#include<conio.h>
#include<stdio.h>
#include<windows.h>
#include<stdlib.h>
//#include<windows.h>
#include<fstream>
#include<string.h>

struct date
{
    short int day;
    short int month;
    int year;
};

struct time
{
    short int hr;
    short int min;
};

class Train
{
    protected :
        long int tno;
        char tname[20], depcity[20], arrcity[20], 
        date depdate, arrdate;
        time deptime, arrtime, tottime;
        float dist, price;
    public :
        void inputdata()
        {
             
        }
        void outputdata()
        {
                
        }
};
class Passenger : public Train
{
    
    
