#include<iostream.h>
#include<conio.h>
#include<stdio.h>
#include<windows.h>
#include<stdlib.h>
//#include<windows.h>
#include<fstream>
#include<string.h>
#include<time.h>

struct date
{
    short int day;
    short int month;
    int year;
};

struct time
{
    short int hr;
    short int min;
};

class Account
{
    protected :
        char password[15];
        char email[40];
}

class Train
{
    protected :
        long int tno;
        char tname[20], depcity[20], arrcity[20], 
        date depdate, arrdate;
        time deptime, arrtime, tottime;
        float dist, price;
    public :
        void get_details()             //########################
        {
        cout<<"enter  
             
        }
        void print_details()           //########################
        {
                
        }
};
class Passenger : public Train, public Account
{
    private :
        char pname[20], email[30], gender[7], depcity[20], arrcity[20]; 
        int age; 
        long int tickno = ( rand()%8999 + 1000 );
        long int mobno, trno;
    public :
         void getdata()                                               //#######################
         {
            cout<<"Enter Passenger Name : ";
            gets(pname);
            cout<<"Enter Email:";
            gets(email);
            cout<<"Enter Gender:";
            gets(gender);
            cout<<"Enter City of depature";
            gets(depcity);
            cout<<"EnterCity of arival";
            gets(arrcity);
            cout<<"Age:";
            cin>>age;           
            cout<<"Mobile number";
            cin>>mobno;
            
              
         }
         void putdata()                                                //##################
         {
            cout<<"Ticket no"<<tickno;
            cout<<"Passenger Name : ";
            puts(pname);
            cout<<"Email:";
            puts(email);
            cout<<"Gender:";
            puts(gender);
            cout<<"City of depature";
            puts(depcity);
            cout<<"City of arival";
            puts(arrcity);
            cout<<"Age:"<<age;
            cout<<"Train number"<<trno;
            cout<<"Mobile number"<<mobno;
            
            
         }
        void check()
        {
             ifstream file("acc.dat", ios::binary)
             cout<<"Enter email id : ";
             gets(email);
             char password[15];
             Account obj;
             while(!file.eof())
             {
                 file.write((char*)&obj, sizeof(obj));
                 if(obj.email == email)
                     break;
             }
             cout<<"Enter Password : ";
             gets(password);
             if(strcmp(obj.password,password)==0)
             {
                cout<<"Welcome";
             }
             else
              {
                 cout<<"Wrong Password !!!";
                 Sleep(3000);
                 exit(0);
             }
         }
         void search_ticket(int ticket_no)
         {
            int flag = 0;
            Passenger pss;
            ifstream file("passenger.dat, ios::in");
            while( !file.eof )
            {
                file.read((char *) &pss, sizeof(pss));
                if( ticket_no==pss.tickno )
                {
                    pss.putdata();
                    flag = 1;
                    break;
                }
            }
            if(flag == 0)
                cout<<"No such passenger found";
            file.close();
        }
        //For non admin
        void search_train( long int train_no )
         {
            Train obj;
            int flag = 0;
            iftstream file( "train.dat", ios::in );
            while( !file.eof() )
            {
                file.read((char*)&obj,sizeof(obj));
                if( train_no==obj.tno )
                    flag = 1;
                    break;
            }    
            if( flag==1 ) 
            {      
                cout<<"Search Successful ";
                obj.print_details();
            }
            else
                cout<<"No Such Train Found ";   
            file.close();
         }
         void search_train( char dep[], char arr[] )
         {
            Train obj;
            int flag = 0;
            iftstream file( "train.dat", ios:in);
            while( !file.eof() )
            {
                file.read((char*)&obj,sizeof(obj));
                if((strcmp(arr, obj.arrcity)==0)&&(strcmp(dep, obj.depcity)==0))
                    flag = 1;
                    cout<<"Search Successful ";
                    obj.print_details();
                    break;
            }    
            if( flag==0)             
                cout<<"No Such Train Found ";   
            file.close();
         }
        void display_train()   //for admin and pass
        {
            Train obj;
            ifstream file( "train.dat", ios::in )
            while( !file.eof() )
            {
                file.read( (char*)&obj, sizeof(obj) );
                obj.print_details();
            }
            file.close();
        }
        
        void add_train()  //for admin
        {
            Train obj;
            ofstream file( "train.dat", ios::binary | ios::app );
            cout<<"Enter The following info to add train schedule ";
            obj.get_details();
            file.write((char*)&obj, sizeof(obj));
            file.close();
        }
        void update_train()
        {
            long int train_no;
            cout<<"Enter Train Number of The Train to be updated : ";
            cin>>train_no;
            Train obj;
            ifstream file("train.dat", ios::binary )
            while( !file.eof )
            {
                file.read( (char*)&obj, sizeof(obj) );
                if( train_no==obj.tno )
                {
                    long pos = file.tellg();
                    file.seekg(-1*sizeof(obj), ios::cur );
                    file.close();
                    obj.get_details();
                    ofstream file1( "train.dat", ios::binary | ios::app );
                    file1.seekp( pos, ios::beg )
                    f1.write((char*)&obj, sizeof(obj));
                    file.close()
                }
            }
        }
        void delete_train()
        {
            long int train_no;
            cout<<"Enter Train Number of The TRain To Be deleted : ";
            cin>>train_no;
            ifstream f1( "train.dat", ios::binary )
            ofstream f2( "temp.dat", ios::binary )
            Train obj;
            int flag = 0;
            while( f1.eof() )
            {
                f1.read((char*)&obj, sizeof(obj))
                if(  obj.tno != train_no )
                {
                    f2.write((char*)&obj, sizeof(obj));
                    flag = 1;
                }
            }
            if(flag == 0)
                cout<<"No such train found ";
            f1.close();
            f2.close();
            remove("train.dat");
            rename("temp.dat", "train.dat")
        }
        
        
        
        
        void update_ticket()
        {
            long int ticket_no;
            cout<<"Enter Ticket Number of The Booking to be updated : ";
            cin>>ticket_no;
            Passenger obj;
            ifstream file("pass.dat", ios::binary )
            while( !file.eof )
            {
                file.read( (char*)&obj, sizeof(obj) );
                if( ticket_no==obj.tno )
                {
                    long pos = file.tellg();
                    file.seekg(-1*sizeof(obj), ios::cur );
                    file.close();
                    obj.getdata();
                    ofstream file1( "pass.dat", ios::binary | ios::app );
                    file1.seekp( pos, ios::beg )
                    f1.write((char*)&obj, sizeof(obj));
                    file.close()
                }
            }
        }
        void delete_ticket()
        {
            long int tick_no;
            cout<<"Enter Train Number of The TRain To Be deleted : ";
            cin>>tick_no;
            ifstream f1( "pass.dat", ios::binary )
            ofstream f2( "temp.dat", ios::binary )
            Passenger obj;
            int flag = 0;
            while( f1.eof() )
            {
                f1.read((char*)&obj, sizeof(obj))
                if(  obj.tickno != tick_no )
                {
                    f2.write((char*)&obj, sizeof(obj));
                    flag = 1;
                }
            }
            if(flag == 0)
                cout<<"No such Booking found ";
            f1.close();
            f2.close();
            remove("pass.dat");
            rename("temp.dat", "pass.dat")
        }
        void display_bookings()
        {
            ifstream f2("train.dat", ios::binary)
            ifstream f1("pass.dat", ios::binary)
            Passenger obj;
            while(!f1.eof)
            {
                f1.read((char*)&obj, sizeof(obj));
                if(strcmp(obj.email,email)==0)
                {
                    Train ob;
                    while(!f2.eof())
                    {
                        f2.read((char*)&obj, sizeof(obj))
                        if( obj.trno = ob.tno )
                            ob.print_details();
                    }
                }
            }
            f1.close();
            f2.close();
        }
        void pass_train()
        {
            Passenger obj;
            ifstream file("pass.dat", ios::binary)
            long int train_no;
            cout<<"Enter Train Number : ";
            cin>>train_no;
            int flag = 0;
            while(!file.eof())
            {
                file.read((char*)&obj, sizeof(obj))
                if(obj.trno == train_no)
                {
                    obj.putdata();
                    flag = 1;
                }
            }
            file.close();
        }
        
};

int main()
{
    system("color 74");
    srand(time(0));
    
